<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAOPhnbUIFrfvk7Z4bUc6B9SV4sUBocL0</string>
	<key>GCM_SENDER_ID</key>
	<string>126881212301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lionSales.lionSale</string>
	<key>PROJECT_ID</key>
	<string>lionsales-5b544</string>
	<key>STORAGE_BUCKET</key>
	<string>lionsales-5b544.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126881212301:ios:e43e205a148f5d2d44ffc4</string>
</dict>
</plist>